<%= form_for(@treasure) do |f| %>
  <% if @treasure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@treasure.errors.count, "error") %> prohibited this treasure from being saved:</h2>

      <ul>
      <% @treasure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :longtitude %><br>
    <%= f.text_field :long %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :lat %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
